extends ../layout

block header
    p Super secret stuff :)
    p.abstract
        | #[strong Abstract.] Admin area login. Nothing to see here.


block content

    div.uk-section.uk-section-xsmall.uk-text-justify

        if !auth
            form.uk-form-horizontal(action='/auth/login', method='post')
                input(type='hidden', name='_csrf', value=csrfToken)

                div.uk-margin
                    label.uk-form-label(for='username') Username
                    .uk-form-controls
                        input(type='text', name='username', value='admin')

                div.uk-margin
                    label.uk-form-label(for='password') Password
                    .uk-form-controls
                        input(type='password', name='password')


                div.uk-margin
                    button.uk-button.uk-button-primary.uk-width-1-1(type='submit')
                        span(uk-icon="icon: check; ratio: .75")
                        |  Log in
        else
            a.uk-button.uk-button-primary(href="/auth/logout") Logout
            a.uk-button.uk-button-secondary(href="/auth/update/") Update

            button#reset.uk-button.uk-button-danger
                i(uk-icon="icon: ban; ratio: .75")
                |   Git Reset
            div(uk-drop="mode: click; pos: right-center; toggle: #reset")
                    a.uk-button.uk-button-danger(href="/auth/reset/") Confirm
            button#reload.uk-button.uk-button-default Reload

block footer
    ol
        li Permalink: 
            a(href="/auth") auth

block scripts
    script.
        $(document).ready(function(){
            $("#reload").click(function(){
                $.ajax({url: "/auth/reload/", success: function(result){
                    //- $("#div1").html(result);
                    $("#div1").html("Success!");
                }});
            });
        });