doctype html
html(lang="en")
    head
        meta(http-equiv='content-type', content='text/html; charset=utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        if post
            - var abstract = post.abstract
            - var path = "posts/"
        else if page
            - var abstract = page.abstract
            - var path = ""
        else
            - var abstract = "Ensar.me"
            - var path = ""
        meta(name='description', content=abstract)


        if (envvar == "dev")
            //- UIKit
            link(rel='stylesheet', href='/css/normalize.min.css')
            link(rel='stylesheet', href='/css/uikit.min.css')
        else
            link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css')
            link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/css/uikit.min.css')

        //- Additional styles
        link(rel='stylesheet', href='/css/style.css')
        block head

    body
        div.uk-offcanvas-content.uk-height-viewport.uk-section-muted

            section.uk-section.uk-section-small.uk-padding-remove-bottom
                section#sticky(uk-sticky='bottom: #offset')
                    section.uk-container.uk-container-small

                        //- menu
                        nav#menu.uk-navbar-container.uk-navbar-transparent.uk-padding-remove-bottom(class='uk-visible@m', uk-navbar='')
                            .uk-navbar-left.uk-navbar-transparent
                                ul.uk-navbar-nav
                                    li #[a(href="/" class="logo") ensar.me]

                            .uk-navbar-right.uk-navbar-transparent

                                -menu = [ ["about", "page"], ["where", "page"], ["how", "page"], ["posts", "post"], ["tags","tag"] ]
                                ul.uk-navbar-nav
                                    each item in menu
                                        if pagetype == item[1]
                                            if item[1] == "page"
                                                if item[0] == page.slug
                                                    li.uk-active #[a(href="/"+item[0])=item[0]]
                                                else
                                                    li #[a(href="/"+item[0])=item[0]]
                                            else
                                                li.uk-active #[a(href="/"+item[1]+"s")=item[0]]
                                        else
                                            li #[a(href="/"+item[0])=item[0]]


                        //- mobile nav
                        nav#menumob.uk-navbar.uk-navbar-container.uk-navbar-transparent.uk-padding-remove-bottom(class='uk-hidden@m')
                            .uk-navbar-left.uk-navbar-transparent
                                a.uk-navbar-toggle(style='height: 40px;', uk-navbar-toggle-icon='', uk-toggle='target: #offcanvas-push', href='#')
                            |       
                            .uk-navbar-right.uk-navbar-transparent
                                ul.uk-navbar-nav
                                    li #[a(href="/" class="logo") ensar.me]

                //- offcanvas
                #offcanvas-push(uk-offcanvas='mode: push; overlay: true')
                    .uk-offcanvas-bar
                        h2 Menu
                        ul.uk-nav
                            each item in menu
                                if pagetype == item[1]
                                    if item[1] == "page"
                                        if item[0] == page.slug
                                            li.uk-active #[a(href="/"+item[0])=item[0]]
                                        else
                                            li #[a(href="/"+item[0])=item[0]]
                                    else
                                        li.uk-active #[a(href="/"+item[1]+"s")=item[0]]
                                else
                                    li #[a(href="/"+item[0])=item[0]]







            section.uk-section.uk-section-small
                section.uk-container.uk-container-small
                    section.uk-section.uk-section-default.main
                        header#content.uk-section.uk-section-medium.uk-text-center.uk-padding-small
                            h1.uk-heading-primary=title
                            block header

                        include ./messages
                        section#content.uk-section.uk-section-xsmall.uk-text-justify(class="uk-column-1-1@m")
                            !=body
                        section#content
                            block content

                        footer#content.uk-section.uk-padding-remove-bottom.uk-text-
                            block footer

            //- Edit block
            if auth
                div.uk-position-fixed.uk-width-1-1.uk-position-bottom.uk-margin
                    block edit
                    div
                        a.uk-button.uk-button-default.uk-button-small.uk-position-bottom-center.uk-margin-right(href="/auth")
                            span(uk-icon="icon: user; ratio: .75")
                            |  Auth
                        a.uk-button.uk-button-default.uk-button-small.uk-position-bottom-right.uk-margin-right(href="/"+path+"new?_csrf="+csrfToken)
                            span(uk-icon="icon: plus; ratio: .75")
                            |  New


            //- script!= settingsdef

            if (process.env.NODE_ENV == "dev")
                script(src='/js/jquery.min.js')
                script(src='/js/uikit.min.js')
                script(src='/js/uikit-icons.min.js')
            else
                script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
                script(src='https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/js/uikit.min.js')
                script(src='https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/js/uikit-icons.min.js')
            
            block scripts


            //- sticky menu
            script.
                $(document).scroll(function() {
                    $('#sticky').css({"box-shadow": $(this).scrollTop() > 40? "0 3px 3px rgba(0, 0, 0, .25)":"none",
                        "background-color": $(this).scrollTop() > 40? "rgba(248,248,248,.75)":"transparent"});
                });
                console.log($(document).scrollTop())
                if ($(document).scrollTop() > 40) {
                    $('#sticky').css({"box-shadow": "0 3px 3px rgba(0, 0, 0, .25)", "background-color": "rgba(248,248,248,.75)"}) 
                }

            //- analytics
            include ./analytics