
html, body {
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 1px 1px 1px rgba(10, 10, 10, .25);
}
.main {
    border: 1px solid #ddd;
    background: url("img/bg-paper.jpg");
    background-size: 255px 180px;/*85x60,255x180,orig425x300*/
    padding:2em;
    box-shadow: 1px 1px 5px rgba(10, 10, 10, .25);
    
}
footer {
    font-size: 80%;
}
em {
    color: #6b1f2c;
}
.abstract {
    width: 75%;
    font-size: 90%;
    margin: 15px auto;
    text-align: justify;
}

.comma:not(:first-child) {
    margin-left: -.3rem;  
}
/* no need to display empty elements */
.comma:empty {
    display: none;
}
.comma:not(:first-child):before {
    content: ", ";
}


h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 1px 1px 2px rgba(10, 10, 10, .25);
}
h1 { font-size: 1.8rem;}
h2 { font-size: 1.4rem;}
h3 { font-size: 1.3rem;}
h4 { font-size: 1.2rem;}
h5 { font-size: 1.1rem;}
h6 { font-size: 1rem;}
.uk-heading-primary { font-size: 2.2rem;}

.uk-navbar-nav > li > a {
    height: 40px;
    font-family: cursive;
    text-transform: lowercase;
    /* font-size: .75rem; */
}
#content .uk-link, #content .uk-link a, #content a {
    color: #666;
    border-bottom: 1px dotted #999;
}
#content .uk-link:hover, #content a:hover {
    text-decoration: none;
    color: #6b1f2c;
    border-bottom: 1px dotted #6b1f2c;
}

img {
    filter: 
    /* blur(1px)  */
    grayscale(75%)
    saturate(1)
    contrast(1.25)
    sepia(25%);
    background: #999;
    border: 1em solid #fff;
    box-shadow: 1px 1px 3px rgba(10, 10, 10, .25)
}
.headline {
    font-family: Courier New, Courier, monospace;
}
.uk-navbar-nav > li >a.logo {
    font-family: cursive;
    font-size: 2rem;
    text-transform: lowercase;
    color:#666;
    /* color: blue; */
}

#sticky {
    background-color: transparent;
    /* height: 20px; */
    transition: transform 1s, background-color 1s, box-shadow 1s, width 0.3s ease-out;
}

@media (min-width:640px){
    .uk-form-horizontal .uk-form-label {
        width: 100px;
        margin-top: 7px;
        float: left;
    }
    .uk-form-horizontal .uk-form-controls {
        margin-left: 115px;
    }
    .main {
        padding:8em 8em 4em;        
    }
    .uk-navbar-nav > li >a.logo {
        font-size: 2rem;
    }
    .uk-navbar-nav > li > a {
        font-size: 1.2rem;
    }
}
