extends ../layout


block header
    h1.uk-text-uppercase=title
    p.abstract
        | #[strong Abstract.] Git update


block content


    div.uk-section.uk-section-xsmall.uk-text-justify(class="uk-column-1-1@m")
        div=git
        each item in update
            div=item



block footer
    ol
        li Permalink: 
            a(href="/auth/update/") update
